@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

header.dashboard{
    width: 100%;
    height: 4em;
    padding: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        display: block;
        width: 90%;
        height: 90%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 2px solid #eeeffe;
    }
}



section.dashboard-inquiry{
    width: 95%;
    min-height: 15em;
    margin: 1em auto;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:  #f7f6f4f3;
    border-radius: 5px;
    border: 2.5px solid #e8e8f0;

    .dashboard-heading{
        width: 100%;
        height: 1.5em;
        padding: 0;
        margin: 0;
        font-size: 2em;
        font-family: 'Alfa Slab One', cursive;
    }

    p{
        margin: 1px;
        color: #39393b;
        font-size: 1.1em;

        span{
            padding-left: 5px;
        }
    }

    p.inquiry-address{
        margin-top: 25px;
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 800;

        span{
            font-family: 'Nanum Myeongjo', serif;
            font-weight: 800;
            color: #666565;
        }
    }

    p.inquiry-account,
    p.inquiry-bill{
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 800;

        span.account-number{
            color: #1980d4;
            font-weight: 700;
        }

        span.bill-number{
            font-family: 'Archivo Black', sans-serif;
            color: #2c87d1;
        }
    }

    p.inquiry-address-detail{
        font-family: 'Nanum Myeongjo', serif;
        color: #666565;
        padding-left: 150px;
    }

    p.inquiry-bill-total{
        display: block;
        width: 100%;
        min-height: 3.5em;  
        
        span.bill-number{
            margin-left: 2em;
            font-size: 2.5em;
            color: #308af0;
            
        }
    }
}


section.dashboard-history{
    width: 95%;
    min-height: 70vh;
    padding: 1em 0.5em;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2.5px solid #e4e5f3;
    border-radius: 2.5px;

    .dashboard-heading{
        width: 90%;
        height: 1.5em;
        padding: 0;
        margin: 0.25em 1em;
        font-size: 2em;
        font-family: 'Alfa Slab One', cursive; 
    }

    .history-download{
        width: 100%;
        min-height: 65vh;
        margin: 0;
        padding: 2em 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid #e0e0e0;

        .history-record{
            width: 90%;
            height: 6em;
            margin: 0.5em 1em;
            padding: 0 1em;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #e9e9e9;

            p{
                margin: 0;
                font-family: 'Squada One', cursive;
                font-size: 2em;
            }

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5em 1.5em;
                height: 55%;
                box-sizing: border-box;
                font-family: 'Staatliches', cursive;
                font-size: 1.2em;
                border: 2px solid #e8e9eb;
                border-radius: 5px;
                color: #3944e7;

                &:visited,
                &:active{
                    @extend a;
                }

                &:hover{
                    background-color: #f7f7f7;
                }
            }
        }
        
    }
}
