
header.payment{
    width: 100%;
    height: 4em;
    padding: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        display: block;
        width: 90%;
        height: 90%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 2px solid #eeeffe;
    }
}

section.payment{
    width: 95%;
    min-height: 10em;
    margin: 1em auto;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:  #f7f6f4f3;
    border-radius: 5px;
    border: 2.5px solid #e8e8f0;

    div{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;

        &:last-child{
            display: flex;
            justify-content: flex-end;
        }
    }
}
